
@import url(//db.onlinewebfonts.com/c/4a24899e94d8236f671c1090cd9e068c?family=Canela);

@font-face {
  font-family: 'telegrafultralight';
  src: url('telegraf-ultralight-webfont.woff2') format('woff2'),
       url('telegraf-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
	font-family: 'telegrafregular';
	src: url('telegraf-regular-webfont.woff2') format('woff2'),
			 url('telegraf-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;}

	@font-face {
    font-family: 'telegrafbold';
    src: url('telegraf-bold-webfont.woff2') format('woff2'),
         url('telegraf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}


*{ cursor: url('https://www.linkpicture.com/q/1_124.png'), auto;
font-family:'canela', serif;
margin:0;
padding:0;}

.transition-fade {
opacity: 1;
transition: 500 ms;
}
html.is-animating .transition-fade {
opacity:0




}

body{
height:100vh;
overflow: hidden;
background: #a8b3a7;
}

.container{
  width: 100%;
  height: 100vh;
position: relative;
z-index: 1;

}

.banner{
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  z-index: 1;
}

.banner h1{
font-size: 80px;
color: #ddd3c5;
font-weight: 300;
margin-bottom: 20px;  
animation-name: moveToLeft;
animation-duration: 2s;
z-index: 1;
}



.banner p{
	font-family: 'telegrafultralight';
font-size: 25px;
font-weight: 300;
color:#ddd3c5;
margin-bottom: 50px;
animation-name: moveToRight;
animation-duration: 2s;
z-index: 1;
}

a{
	font-family: 'telegrafultralight';
background-color: #ddd3c5;
width: 180px;
padding: 20px;
margin: 20px;
border: none;
border-radius: 50px;
font-size: 18px;
outline: none;
letter-spacing: 1px;
z-index: 1;
animation-name: animateBtn;
animation-duration: 1s;
animation-delay: 1.5s;
animation-fill-mode: backwards;
box-shadow: inset 0 0 0 0 #f7c960;
transition: ease-out 0.3s;
cursor: url('https://www.linkpicture.com/q/2_112.png'), auto;
}
a:link, a:visited{
  text-align: center;
  text-decoration: none;
color: #8e8686;
}

a:hover, a:active {
  color:#ccc;
}

a:hover{
box-shadow: inset 180px 0 0 0 #f7c960;
color:rgb(63, 60, 60)
}


@keyframes moveToLeft{
0% { transform: translateX(120px);
  opacity: 0
}
100%{
  transform: translateX(0);
  opacity: 1
}
}

@keyframes moveToRight{

  0% { transform: translateX(-120px);
    opacity: 0
  }
  100%{
    transform: translateX(0);
    opacity: 1
  }
  }

  @keyframes animateBtn {
  0% {opacity: 0;

  }
  100% {opacity: 1;
  }
}
.square {
	pointer-events: none;
}

.square  {

 animation: fly 50s linear infinite;
 pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 0;
}


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



#background{
position: absolute;
width: 100%;
height: 100vh;
overflow:hidden;
z-index: 1;
}

