@font-face {
  font-family: 'telegrafultralight';
  src: url('telegraf-ultralight-webfont.woff2') format('woff2'),
       url('telegraf-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}
*{
  margin:0;
  padding:0;
  cursor: url("https://www.linkpicture.com/q/1_124.png"), auto;
} 

body{
  background-color: #337bbc;
  position: relative;
  width: 100%;
  height: 100%;
  overflow:auto;
}


/* Flygande ord */
.j	{ 
  
  font-size: 25pt;
  font-family: 'Cormorant', serif;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: White;
  line-height: 120%;
  position: absolute;
  font-style: normal;
  cursor: url('https://www.linkpicture.com/q/2_112.png'), auto;
}



 /* body */
b	  { 
  font-size: 14pt;
  font-family: 'telegrafultralight';
  font-weight: bold;
  text-decoration: none;		

  
}
table{
position:fixed;
top: 0;
z-index: 1;
text-align:center;
display:flex;
width:100%;
height: 60px;
background: rgba(0, 0,0,0.)

}
.kommando {
  width: 180px;
padding: 18px;
margin: 20px;
  text-decoration: none;
  FONT-WEIGHT: bold; 
  FONT-SIZE: 14pt; 
  LINE-HEIGHT:1.5;
  Z-INDEX: 1000; 
  VISIBILITY: visible; 
  COLOR: rgb(0, 0, 0); 
  TEXT-DECORATION: none;
  transition: ease-out 0.3s;
}
.kommando:hover {
  color:#ccc
}

#background{
  position: relative;
  width: 200%;
  height: 200vh;
  overflow:auto;

  }
  
 